<h2>Email Preview</h2>

<p><strong>Subject:</strong> <%= @subject %></p>

<hr>

<div style="border:1px solid #ccc; padding:15px;">
  <%= @body.html_safe %>
</div>

<hr>

<p><strong>Recipients:</strong></p>
<ul>
  <% @emails.each do |email| %>
    <li><%= email %></li>
  <% end %>
</ul>

<%= button_to "Confirm & Send", email_path(1), method: :get %>
<%= link_to "Edit", root_path %>
